@page "/calls/dashboard"


<div class="container-fluid my-2">
    <div class="row">
        <h1 class="text-center text-primary">Calls Dashboard</h1>
        <hr />
    </div>

    <div class="row">
        @if (IsLoading)
        {
            <div class="text-center">
                <img src="/images/general/loading.gif">
            </div>
        }
        else
        {
            <div class="container ">
                <div class="row row-cols-7 text-center text-nowrap" style="color:#635E5E;font-size:20px;">
                    <div class="col">New</div>
                    <div class="col">Processing</div>
                    <div class="col" >Offerring</div>
                    <div class="col">Customer Pending Approval</div>
                    <div class="col">Approved</div>
                    <div class="col">Rejected/Cancelled</div>
                    <div class="col">Completed</div>
                </div>
            </div>
        }
    </div>
</div>


@code {
    private bool IsLoading;
}
