@inherits LayoutComponentBase

<PageTitle>Call Center_Server</PageTitle>

<div class="page">

    <main>
        <div>
            <NavMenu />
        </div>
        

        <article class="content px-4">
            @Body
        </article>

    </main>
</div>
