@inherits LayoutComponentBase

<PageTitle>Call Center Management</PageTitle>

<div class="page">

    <main>
        <div>
            <NavMenu />
        </div>
       
        <article class="content px-2">
            @Body
        </article>

        <footer class="mt-3 p-1 border-top text-muted">
            <div class="container-fluid text-center mt-2">
                &copy; @DateTime.Now.Date.ToString("yyyy") - <a href="https://www.linkedin.com/in/haidermohammedali" target="_blank">HaiderCorner</a>
                <p class="text-muted mt-1">Developed by <br /> <a href="mailto:haider.mohammedali@outlook.com">Eng. Haider Mohammed Ali</a></p>
            </div>
        </footer>
    </main>
</div>
